*{
    box-sizing: border-box;
    list-style-type: none;
   text-decoration: none;
}
:root{
    --padding:1rem
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    background-color: rgb(0, 255, 0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}
nav ul{
    
    gap: 2rem;
    font-size: larger;
}

header{
    height: 100vh;
    background-image: url(img/OIP\ \(1\).jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    filter: saturate(0);
    
}
header:hover{
    filter: saturate(1);
}
main{
    background-color: aqua;
    padding: var(--paddding);
}

    
@media screen and(max-width:992px) {
    
    
} 
@media screen and(max-width:768px) {
    
    
} 
@media screen and(max-width:600px) {
    .skill{
        background-color: aqua;
        
    }
    .header{
        display: none;
    }
    .nav{
        display: none;
    }
    
} 
h2{
    background-color: rgb(123, 237, 100);
    
}
.card{
    background-color: rgb(61, 43, 226);
    width: 25%;
    height: 25vh;
    padding: var(--paddding);
}
.card:hover{
    box-shadow: .1rem .2rem .8rem rgb(42, 165, 89);
}
.row{
    height: 80vh;
    background-color: rgb(124, 24, 32);
    padding: var(--paddding);                                                                           
    gap: 1rem;
    flex-direction: row-reverse;
}
.card-body{
    background-color: aqua;
}
.team-section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 85vh;
    align-items: center;

}
.team-row{
    display: grid;
    grid-template-columns: 20% 20% 20% 20%;
    gap: 3rem;
}
.team-member{
    background-color: rgb(204, 15, 15);                          
    padding: var(--padding);
   
}
#m2{
    background-color: blueviolet;
    grid-column: 1 /span 3; 
}
.level{
    background-color: rgb(226, 43, 67);
    height: 80vh;
}
.row-1{
    display: grid;
    gap:1rem;
    padding: var(--paddding);
    grid-template-columns: repeat(3,auto);
} 
.card-1{
    background-color: rgb(4, 145, 35);
    padding: var(--paddding);
    width: 90%;
} 
.card-1:hover{
    box-shadow: .1rem .2rem .8rem rgb(148, 9, 9);
}
h1{
    background-color: rgb(226, 86, 43);
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                           
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                